EXPO_PUBLIC_API_URL=https://your-project-id.supabase.co

EXPO_PUBLIC_ANON_KEY=your_supabase_anon_key_here

EXPO_PUBLIC_SERVICE_ROLE_KEY=your_service_role_key_here

EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your_google_web_client_id_here

EXPO_PUBLIC_MAPBOX_ACCESS_TOKEN=your_mapbox_access_token_here
EXPO_PUBLIC_MAPBOX_DOWNLOADS_TOKEN=your_mapbox_downloads_token_here

EXPO_PUBLIC_ONESIGNAL_APP_ID=your_onesignal_app_id_here
EXPO_PUBLIC_ORGANIZATION_ID=your_organization_id_here
EXPO_PUBLIC_ONESIGNAL_REST_API_KEY=your_onesignal_rest_api_key_here
EXPO_PUBLIC_ONESIGNAL_ANDROID_CHANNEL_ID=your_android_channel_id_here

EXPO_PUBLIC_PAYMONGO_SECRET_KEY=your_paymongo_secret_key_here
EXPO_PUBLIC_PAYMONGO_WEBHOOK_SECRET=your_paymongo_webhook_secret_here